#menu-deroulant, #menu-deroulant ul {
	padding: 0;
	margin: 0;
	list-style: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #666;
	cursor: pointer;
}
#menu-deroulant {
/* on centre le menu dans la page */
    text-align: right;
}
#menu-deroulant li {
	/* on place les liens du menu horizontalement */
	display: inline-block;
}
#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
	display: inherit;
}
#menu-deroulant a {
	text-decoration: none;
	display: block;
	color: #666;
}
#menu-deroulant a:hover {
	text-decoration: none;
	display: block;
	color: #000;
}
#menu-deroulant ul {
	position: absolute;
	/* on cache les sous menus complètement sur la gauche */
	left: 999em;
	text-align: left;
	z-index: 1000;
}

#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}
